# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
chipo.shape[0]

4622

In [5]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [6]:
print(chipo.columns.size)
print(chipo.shape[1])

5
5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
chipo.groupby('item_name').sum().sort_values(by='quantity', ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [10]:
chipo.iloc[chipo['quantity'].idxmax()]['item_name'] #most in one order

'Chips and Fresh Tomato Salsa'

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
chipo.groupby('item_name').sum().sort_values(by='quantity', ascending=False).head(1)['quantity']

In [0]:
chipo.iloc[chipo['quantity'].idxmax()]['quantity'] #most in one order

### Step 11. What was the most ordered item in the choice_description column?

In [0]:
chipo.groupby('choice_description').sum().sort_values(by='quantity', ascending=False).head(1)['quantity']

In [0]:
#if most in one order with choice_description != np.nan
chipo_nonans = chipo.dropna().copy()
chipo_nonans.reset_index(inplace=True)
chipo_nonans.iloc[chipo_nonans['quantity'].idxmax(axis=1)]

### Step 12. How many items were orderd in total?

In [0]:
chipo['quantity'].sum()

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [0]:
chipo['item_price'].dtype.name

#### Step 13.b. Create a lambda function and change the type of item price

In [0]:
#Method 1: Self-defined lambda using apply
chipo['item_price'] = chipo['item_price'].apply(lambda r: float(r.replace('$', '')))

#.apply(lambda r: float(r[1:-1])) also acceptable if it's known that the dollar sign position is fixed (and it's likely faster)

In [0]:
# Note: the following methods don't work because pandas doesn't know how to parse a numerical string that has a $ sign in it.

# chipo['item_price'].infer_objects().dtypes.name
# >>> object

#Method 2A: to_numeric() in apply()
# chipo['item_price'].apply(pd.to_numeric)

#Method 2B: to_numeric() alone
# pd.to_numeric(chipo['item_price'], errors='raise', downcast='float')

#Method 3: astype()
# chipo['item_price'].astype('float64', errors='raise')

#### Step 13.c. Check the item price type

In [0]:
chipo['item_price'].dtype.name

### Step 14. How much was the revenue for the period in the dataset?

In [0]:
chipo['revenue'] = chipo['quantity']*chipo['item_price']
display(chipo['revenue'])
total_revenue = chipo['revenue'].sum()
print(total_revenue)

### Step 15. How many orders were made in the period?

In [0]:
chipo.groupby('order_id').count().index.size

### Step 16. What is the average revenue amount per order?

In [0]:
# Solution 1
chipo.groupby('order_id').sum().mean()['revenue']

### Step 17. How many different items are sold?

In [0]:
chipo['item_name'].value_counts()

In [0]:
#alternatively
chipo['item_name'].value_counts().index.size